*.sap
TodotxtTouch.WindowsPhone/PerformanceLogs
TodotxtTouch.WindowsPhone/Bin/*
TodotxtTouch.WindowsPhone/Obj/*
TodotxtTouch.WindowsPhone/*.user
packages/*
*.testsettings
*.vsmdi
*.pdb
TodotxtTouch.WindowsPhone/packages
_ReSharper.*
*.suo