*.sap
TodotxtTouch.WindowsPhone/PerformanceLogs
TodotxtTouch.WindowsPhone/Bin/*
TodotxtTouch.WindowsPhone/Obj/*
TodotxtTouch.WindowsPhone/*.user
packages/*
*.testsettings
*.vsmdi
TodotxtTouch.WindowsPhone/apikeys.txt
*.pdb
TodotxtTouch.WindowsPhone/packages