<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DropNet" version="1.9.6" targetFramework="wp71" />
  <package id="EZLibrary.WindowsPhone" version="1.0.0" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="wp71" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp71" />
  <package id="PhoneyTools" version="1.0.10" />
  <package id="RestSharp" version="104.3.3" targetFramework="wp71" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" />
  <package id="todotxtlib.net" version="1.2.8" targetFramework="wp71" />
</packages>