<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DropNet" version="1.8.2" />
  <package id="MvvmLight" version="3.1.1" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="PhonePerformance" version="1.2.0" />
  <package id="PhoneyTools" version="1.0.10" />
  <package id="SilverlightToolkitWP" version="4.2011.12.13" />
  <package id="todotxtlib.net" version="1.0.0" />
</packages>